<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bsoft.commonlib" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application>
        <activity
            android:name=".web.CommonWebActivity"
            android:theme="@style/base_appCoreThemeFit" />
        <activity
            android:name=".changenet.ChangeNetActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/base_appCoreThemeFit" />
    </application>


</manifest>